plugins/webcontent/src/wsdl/services/WebCrawling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created by EADS DS - IPCC -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://services.weblab.eads.com/webcrawling"
	xmlns:contentprovider="http://services.weblab.eads.com/contentprovider"
	xmlns:configurable="http://services.weblab.eads.com/configurable"
	xmlns:types="http://services.weblab.eads.com/webcrawling/types"
	xmlns:error="http://model.core.weblab.eads.com/exception"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://services.weblab.eads.com/webcrawling"
	name="WebCrawlingService">
	<types>
		<xsd:schema>
			<xsd:import
				namespace="http://services.weblab.eads.com/webcrawling/types"
				schemaLocation="WebCrawlingTypes.xsd">
			</xsd:import>
			<xsd:import
				namespace="http://model.core.weblab.eads.com/exception"
				schemaLocation="../interfaces/exception.xsd" />
		</xsd:schema>
	</types>

	<message name="startCrawlRequest">
		<part name="args" element="types:startCrawlArgs" />
	</message>
	<message name="startCrawlResponse">
		<part name="return" element="types:startCrawlReturn" />
	</message>

	<message name="startCrawlException">
		<!-- this part name isn't used in source code generation using wsimport
			but it's necessary -->
		<part name="error" element="error:webLabException" />
	</message>
	<message name="getCrawledDocumentsRequest">
		<part name="args" element="types:getCrawledDocumentsArgs" />
	</message>
	<message name="getCrawledDocumentsResponse">
		<part name="return" element="types:getCrawledDocumentsReturn" />
	</message>

	<message name="getCrawledDocumentsException">
		<!-- this part name isn't used in source code generation using wsimport
			but it's necessary -->
		<part name="error" element="error:webLabException" />
	</message>
	<portType name="WebCrawling">
		<operation name="startCrawl">
			<input name="startCrawlInput"
				message="tns:startCrawlRequest" />
			<output name="startCrawlOutput"
				message="tns:startCrawlResponse" />
			<!-- this name have to match with the binding - operation - fault and soap:fault name attribute -->
			<fault name="startCrawlException"
				message="tns:startCrawlException">
			</fault>
		</operation>
		<operation name="getCrawledDocuments">
			<input name="getCrawledDocumentsInput"
				message="tns:getCrawledDocumentsRequest" />
			<output name="getCrawledDocumentsOutput"
				message="tns:getCrawledDocumentsResponse" />
			<!-- this name have to match with the binding - operation - fault and soap:fault name attribute -->
			<fault name="getCrawledDocumentsException"
				message="tns:getCrawledDocumentsException">
			</fault>
		</operation>
	</portType>
	<binding name="WebCrawlingSOAPBinding" type="tns:WebCrawling">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document"></soap:binding>
		<operation name="startCrawl">
			<soap:operation soapAction="startCrawl"></soap:operation>
			<input name="startCrawlInput">
				<soap:body use="literal"></soap:body>
			</input>
			<output name="startCrawlOutput">
				<soap:body use="literal"></soap:body>
			</output>
			<!-- fault name have to be the same has in the portype - operation - fault name -->
			<fault name="startCrawlException">
				<!-- exactly the same for the soap:fault name attribute -->
				<soap:fault name="startCrawlException" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="getCrawledDocuments">
			<soap:operation soapAction="getCrawledDocuments"></soap:operation>
			<input name="getCrawledDocumentsInput">
				<soap:body use="literal"></soap:body>
			</input>
			<output name="getCrawledDocumentsOutput">
				<soap:body use="literal"></soap:body>
			</output>
			<!-- fault name have to be the same has in the portype - operation - fault name -->
			<fault name="getCrawledDocumentsException">
				<!-- exactly the same for the soap:fault name attribute -->
				<soap:fault name="getCrawledDocumentsException"
					use="literal"></soap:fault>
			</fault>
		</operation>
	</binding>
	<import namespace="http://services.weblab.eads.com/contentprovider"
		location="../interfaces/ContentProvider.wsdl">
	</import>
	<import namespace="http://services.weblab.eads.com/configurable"
		location="../interfaces/Configurable.wsdl">
	</import>

	<service name="WebCrawlingService">
		<port name="WebCrawlingPort"
			binding="tns:WebCrawlingSOAPBinding">
			<soap:address location=""></soap:address>
		</port>
		<port name="ContentProviderPort"
			binding="contentprovider:ContentProviderSOAPBinding">
			<soap:address location=""></soap:address>
		</port>
		<port name="ConfigurablePort"
			binding="configurable:ConfigurableSOAPBinding">
			<soap:address location=""></soap:address>
		</port>
	</service>
</definitions>

