plugins/webcontent/src/wsdl/interfaces/OntologyAlignment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created by EADS DS - IPCC -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://weblab-project.org/services/ontologyalignment"
	xmlns:types="http://weblab-project.org/services/ontologyalignment/types"
	xmlns:ex="http://weblab-project.org/services/exception"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://weblab-project.org/services/ontologyalignment"
	name="OntologyAlignment">

	<types>
		<xsd:schema>
			<xsd:import
				namespace="http://weblab-project.org/services/ontologyalignment/types"
				schemaLocation="OntologyAlignmentTypes.xsd" />
			<xsd:import
				namespace="http://weblab-project.org/services/exception"
				schemaLocation="http://ipcc-projects.org/weblab/core/back/services/1.0/exception.xsd" />
		</xsd:schema>
	</types>

	<message name="matchRequest">
		<part name="args" element="types:matchArgs" />
	</message>
	<message name="matchResponse">
		<part name="return" element="types:matchReturn" />
	</message>
	<message name="matchException">
		<part name="error" element="ex:webLabException" />
	</message>

	<message name="findRequest">
		<part name="args" element="types:findArgs" />
	</message>
	<message name="findResponse">
		<part name="return" element="types:findReturn" />
	</message>
	<message name="findException">
		<part name="error" element="ex:webLabException" />
	</message>

	<message name="retrieveRequest">
		<part name="args" element="types:retrieveArgs" />
	</message>
	<message name="retrieveResponse">
		<part name="return" element="types:retrieveReturn" />
	</message>
	<message name="retrieveException">
		<part name="error" element="ex:webLabException" />
	</message>

	<message name="trimRequest">
		<part name="args" element="types:trimArgs" />
	</message>
	<message name="trimResponse">
		<part name="return" element="types:trimReturn" />
	</message>
	<message name="trimException">
		<part name="error" element="ex:webLabException" />
	</message>

	<message name="storeRequest">
		<part name="args" element="types:storeArgs" />
	</message>
	<message name="storeResponse">
		<part name="return" element="types:storeReturn" />
	</message>
	<message name="storeException">
		<part name="error" element="ex:webLabException" />
	</message>

	<message name="loadRequest">
		<part name="args" element="types:loadArgs" />
	</message>
	<message name="loadResponse">
		<part name="return" element="types:loadReturn" />
	</message>
	<message name="loadException">
		<part name="error" element="ex:webLabException" />
	</message>

	<message name="addResourceRequest">
		<part name="args" element="types:addResourceArgs" />
	</message>
	<message name="addResourceResponse">
		<part name="return" element="types:addResourceReturn" />
	</message>
	<message name="addResourceException">
		<part name="error" element="ex:webLabException" />
	</message>

	<portType name="OntologyAlignment">
		<documentation>
			A simple interface for an ontology alignment. It contains a
			method to enable business analyser to process two ontologies,
			given a usage content; and a method enabling to add some
			resources to extract the knowledge from.
		</documentation>
		<operation name="match">
			<documentation>
				Ask to the service to process with its business method.
			</documentation>
			<input name="matchInput" message="tns:matchRequest" />
			<output name="matchOutput" message="tns:matchResponse" />
			<fault name="matchException"
				message="tns:matchException">
				<documentation>
					To be thrown when an error occurs in the process
					method of the ontology alignment.
				</documentation>
			</fault>
		</operation>
		<operation name="find">
			<documentation>
				Ask to the service to process with its business method.
			</documentation>
			<input name="findInput" message="tns:findRequest" />
			<output name="findOutput" message="tns:findResponse" />
			<fault name="findException"
				message="tns:findException">
				<documentation>
					To be thrown when an error occurs in the process
					method of the ontology alignment.
				</documentation>
			</fault>
		</operation>

		<operation name="retrieve">
			<documentation>
				Ask to the service to process with its business method.
			</documentation>
			<input name="retrieveInput" message="tns:retrieveRequest" />
			<output name="retrieveOutput" message="tns:retrieveResponse" />
			<fault name="retrieveException"
				message="tns:retrieveException">
				<documentation>
					To be thrown when an error occurs in the process
					method of the ontology alignment.
				</documentation>
			</fault>
		</operation>

		<operation name="trim">
			<documentation>
				Ask to the service to process with its business method.
			</documentation>
			<input name="trimInput" message="tns:trimRequest" />
			<output name="trimOutput" message="tns:trimResponse" />
			<fault name="trimException"
				message="tns:trimException">
				<documentation>
					To be thrown when an error occurs in the process
					method of the ontology alignment.
				</documentation>
			</fault>
		</operation>

		<operation name="store">
			<documentation>
				Ask to the service to process with its business method.
			</documentation>
			<input name="storeInput" message="tns:storeRequest" />
			<output name="storeOutput" message="tns:storeResponse" />
			<fault name="storeException"
				message="tns:storeException">
				<documentation>
					To be thrown when an error occurs in the process
					method of the ontology alignment.
				</documentation>
			</fault>
		</operation>

		<operation name="load">
			<documentation>
				Ask to the service to process with its business method.
			</documentation>
			<input name="loadInput" message="tns:loadRequest" />
			<output name="loadOutput" message="tns:loadResponse" />
			<fault name="loadException"
				message="tns:loadException">
				<documentation>
					To be thrown when an error occurs in the process
					method of the ontology alignment.
				</documentation>
			</fault>
		</operation>

		<operation name="addResource">
			<documentation>
				Add the resource within a usage context to the service.
			</documentation>
			<input name="addResourceInput"
				message="tns:addResourceRequest" />
			<output name="addResourceOutput"
				message="tns:addResourceResponse" />
			<fault name="addResourceException"
				message="tns:addResourceException">
				<documentation>
					To be thrown when an error occurs when adding this
					resource to the service.
				</documentation>
			</fault>
		</operation>
	</portType>

	<binding name="OntologyAlignmentSOAPBinding"
		type="tns:OntologyAlignment">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="match">
			<soap:operation soapAction="match" />
			<input name="matchInput">
				<soap:body use="literal" />
			</input>
			<output name="matchOutput">
				<soap:body use="literal" />
			</output>
			<fault name="matchException">
				<soap:fault name="matchException" use="literal" />
			</fault>
		</operation>
		<operation name="find">
			<soap:operation soapAction="find" />
			<input name="findInput">
				<soap:body use="literal" />
			</input>
			<output name="findOutput">
				<soap:body use="literal" />
			</output>
			<fault name="findException">
				<soap:fault name="findException" use="literal" />
			</fault>
		</operation>
		<operation name="retrieve">
			<soap:operation soapAction="retrieve" />
			<input name="retrieveInput">
				<soap:body use="literal" />
			</input>
			<output name="retrieveOutput">
				<soap:body use="literal" />
			</output>
			<fault name="retrieveException">
				<soap:fault name="retrieveException" use="literal" />
			</fault>
		</operation>
		<operation name="trim">
			<soap:operation soapAction="trim" />
			<input name="trimInput">
				<soap:body use="literal" />
			</input>
			<output name="trimOutput">
				<soap:body use="literal" />
			</output>
			<fault name="trimException">
				<soap:fault name="trimException" use="literal" />
			</fault>
		</operation>
		<operation name="store">
			<soap:operation soapAction="store" />
			<input name="storeInput">
				<soap:body use="literal" />
			</input>
			<output name="storeOutput">
				<soap:body use="literal" />
			</output>
			<fault name="storeException">
				<soap:fault name="storeException" use="literal" />
			</fault>
		</operation>
		<operation name="load">
			<soap:operation soapAction="load" />
			<input name="loadInput">
				<soap:body use="literal" />
			</input>
			<output name="loadOutput">
				<soap:body use="literal" />
			</output>
			<fault name="loadException">
				<soap:fault name="loadException" use="literal" />
			</fault>
		</operation>
		<operation name="addResource">
			<soap:operation soapAction="addResource" />
			<input name="addResourceInput">
				<soap:body use="literal" />
			</input>
			<output name="addResourceOutput">
				<soap:body use="literal" />
			</output>
			<fault name="addResourceException">
				<soap:fault name="addResourceException" use="literal" />
			</fault>
		</operation>
	</binding>


</definitions>
