plugins/webcontent/src/wsdl/interfaces/ResourcesContainer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created by EADS DS - IPCC -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://services.weblab.eads.com/resourcescontainer"
	xmlns:types="http://services.weblab.eads.com/resourcescontainer/types"
	xmlns:error="http://model.core.weblab.eads.com/exception"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://services.weblab.eads.com/resourcescontainer"
	name="ResourcesContainer">
	<types>
		<xsd:schema>
			<xsd:import
				namespace="http://services.weblab.eads.com/resourcescontainer/types"
				schemaLocation="ResourcesContainerTypes.xsd" />
			<xsd:import
				namespace="http://model.core.weblab.eads.com/exception"
				schemaLocation="exception.xsd" />
		</xsd:schema>
    </types>
	<message name="saveResourceRequest">
		<part name="args" element="types:saveResourceArgs" />
	</message>
	<message name="saveResourceResponse">
		<part name="return" element="types:saveResourceReturn" />
	</message>
	<message name="saveResourceException">
		<!-- this part name isn't used in source code generation using wsimport
			but it's necessary -->
		<part name="error" element="error:webLabException" />
	</message>

	<message name="getResourceRequest">
		<part name="args" element="types:getResourceArgs" />
	</message>
	<message name="getResourceResponse">
		<part name="return" element="types:getResourceReturn" />
	</message>
	<message name="getResourceException">
		<!-- this part name isn't used in source code generation using wsimport
			but it's necessary -->
		<part name="error" element="error:webLabException" />
	</message>
	
	<portType name="ResourcesContainer">
		<operation name="saveResource">
			<input name="saveResourceRequest"
				message="tns:saveResourceRequest" />
			<output name="saveResourceResponse"
				message="tns:saveResourceResponse" />
			<!-- this name have to match with the binding - operation - fault and soap:fault name attribute -->
			<fault name="saveResourceException"
				message="tns:saveResourceException">
			</fault>
		</operation>
		<operation name="getResource">
			<input name="getResourceRequest" message="tns:getResourceRequest" />
			<output name="getResourceResponse" message="tns:getResourceResponse" />
			<!-- this name have to match with the binding - operation - fault and soap:fault name attribute -->
			<fault name="getResourceException" message="tns:getResourceException"></fault>
		</operation>
	</portType>
	<binding name="ResourcesContainerSOAPBinding" type="tns:ResourcesContainer">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document"></soap:binding>
		<operation name="saveResource">
			<soap:operation soapAction="saveResource"></soap:operation>
			<input name="saveResourceRequest">
				<soap:body use="literal"></soap:body>
			</input>
			<output name="saveResourceResponse">
				<soap:body use="literal"></soap:body>
			</output>
			<!-- fault name have to be the same has in the portype - operation - fault name -->
			<fault name="saveResourceException">
				<!-- exactly the same for the soap:fault name attribute -->
				<soap:fault name="saveResourceException"
					use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="getResource">
			<soap:operation soapAction="getResource"></soap:operation>
			<input name="getResourceRequest">
				<soap:body use="literal"></soap:body>
			</input>
			<output name="getResourceResponse">
				<soap:body use="literal"></soap:body>
			</output>
			<!-- fault name have to be the same has in the portype - operation - fault name -->
			<fault name="getResourceException">
				<!-- exactly the same for the soap:fault name attribute -->
				<soap:fault name="getResourceException" use="literal"></soap:fault>
			</fault>
		</operation>
	</binding>
</definitions>
